/*variables*/

$font-stack: "Inter", "Jost", sans-serif;
$font-main: "Inter", sans-serif;
$font-secondary: "Jost", sans-serif;
$color-white: #fff;
$color-black: #000;
$color-wrong: rgba(219, 16, 16, 0.856);

/*Media queries mixins*/

@mixin xs-devices {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin sm-devices {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin md-devices {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin lg-devices {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin xl-devices {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin landscape-orientation {
  @media (max-width: 991px) and (orientation: landscape) {
    @content;
  }
}
